body {
    text-align: center;
}
    
.etchArea {
    display: grid;
    min-height: 500px;
    min-width: 500px;
    position: absolute;
}

.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: .4em .4em;
    font-size: 30px;
    text-align: center;
}

.inputArea {
    display: grid;
}

textarea::placeholder {
    color: rgb(156, 156, 156);  
}