body {
    background-color: rgb(12, 197, 197);
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
}

.etchArea {
    display: grid;
    border: 30px solid red;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 25px;
}

.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: grid;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
}

.inputArea {
    display: grid;
    margin-top: 1em;
    width: 500px;
    align-items: center;
    margin: auto;
    padding-top: 1em;
    grid-template-areas:
    "a a"
    "b c";
}

textarea::placeholder {
    color: rgb(156, 156, 156);  
}

.changeSizeTextBox {
    grid-area: a;
    width: 494px;
    margin-bottom: 1em;
    border-radius: 2px;
}

.changeSizeBtn {
    grid-area: b;
    width: 250px;
    margin-right: 1px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
}

.resetBtn {
    grid-area: c;
    width: 250px;
    margin-left: 1px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
}

.grey-color {
    background-color: gray;
}