.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
}

.etchArea {
    display: grid;
    border: 3px solid rgba(0, 0, 0, 0.8);
    height: 500px;
    width: 500px;
    margin: auto;
}

.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: grid;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
}

.inputArea {
    display: grid;
    margin-top: 1em;
    width: 500px;
    align-items: center;
    margin: auto;
    padding-top: 1em;
}

textarea::placeholder {
    color: rgb(156, 156, 156);  
}

.changeSizeBtn {
    width: 250px;
}

.grey-color {
    background-color: gray;
}